.section-events {
    display: block;
    max-width: 350px;
    margin: 10px auto;
    padding: 0 15px;

    .info-box {
        margin-bottom: 40px;

        @media only screen and (min-width: 576px) {
            margin: inherit;
        }
    }

    @media screen and (min-width: 576px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        max-width: 1024px;
    }

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 1025px) {
        gap: 30px;
        padding: 0;
    }
}
